<form (ngSubmit)="onSubmit(formSearch)" #formSearch="ngForm">
    <div class="form-group m-3">
        <label for="inputSexe">Sexe</label>
        <input name="sexe" [(ngModel)]="modelSearch.sex" required type="text" class="form-control" id="inputSexe" aria-describedby="nameHelp" #name="ngModel" />
    </div>
    <div class="form-group m-3">
        <label for="inputSexe">Age</label>
        <input name="age" [(ngModel)]="modelSearch.age" required type="text" class="form-control" id="inputAge" aria-describedby="nameHelp" #name="ngModel" />
    </div>
    <div class="form-group m-3">
        <label for="inputSexe">Classe</label>
        <input name="class" [(ngModel)]="modelSearch.classe" required type="text" class="form-control" id="inputClasse" aria-describedby="nameHelp" #name="ngModel" />
    </div>
    <button type="submit">Analyze</button>
</form>